@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

$primary-font: 'Quicksand';
$grey-color: rgb(91, 90, 90);
$purple-color: #c38d9e;
$orange-color: #e8a87c;
$blue-color: #85cdca;
