@import './_variables.scss';

.twitter,
.facebook {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: $purple-color;
  margin: 1rem;
  &:hover {
    color: $orange-color;
  }
  &:focus {
    outline-color: white;
  }
}

footer {
  text-align: center;
  color: $grey-color;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
