@import './_variables.scss';

.profileButton {
  display: flex;
  justify-content: flex-end;
}
.backToProfile {
  padding: 1rem 1rem;
  font-size: 1rem;
  font-family: 'Quicksand';
  color: $purple-color;
  text-decoration: none;
  border: none;
  &:hover {
    color: $orange-color;
  }
  &:focus {
    outline-color: white;
  }
}
