@import './_variables.scss';

.signUpHeader {
  text-align: center;
  color: $blue-color;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.signUpInput {
  padding: 1rem 8rem;
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.signUpInput:focus {
  outline-color: $blue-color;
}

label {
  margin-left: 2rem;
  font-size: 1.3rem;
  color: $grey-color;
}

.enterButton {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.submitButton button {
  padding: 1rem 5rem;
  font-size: 1rem;
  font-family: 'Quicksand';
  background-color: $blue-color;
  text-decoration: none;
  border: none;
  margin-bottom: 4rem;
  &:hover {
    background-color: $purple-color;
    color: white;
  }
  &:focus {
    outline-color: $purple-color;
  }
}

.signUpButton {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

//Media Queries

@media only screen and (min-width: 650px) {
  .signUp {
    display: flex;
    flex-direction: column;
  }

  input {
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .signUp {
    display: flex;
    flex-direction: column;
  }

  .signUpInput {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  label {
    padding-left: 10rem;
  }
}
